body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 112px; /* Set navbar height */
    align-items: center; /* Center items vertically */
}
.navbar a {
    display: block;
    color: #4f4f4f; /* Dark gray */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    color: green;
    text-decoration: underline;
    text-underline-offset: 6px; /* Double the space between underline and text */
}
.navbar a#contact {
    color: black;
    font-size: 18px;
    border: 2px solid black;
    padding: 12px 14px;
    margin-right: 120px; /* Push towards the center */
    font-weight: bold; /* Bold the Contact button */
}
.navbar a#contact:hover {
    background-color: green;
    color: white;
    text-decoration: none;
}
.header {
    position: relative;
    background-image: url('Bg1.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Make the background image static */
    height: 624px; /* Set background height to 800 pixels */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 320px; /* Position text 320 pixels from the left */
    background-color: black; /* Fallback background color */
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1; /* Ensure overlay is above the image */
}
.header-text {
    position: relative; /* Ensure text is above the overlay */
    z-index: 2; /* Ensure text is above the overlay */
    color: white; /* Ensure text is white */
    font-size: 65px; /* Increase font size by 2 */
    font-weight: bold;
}
.subheader {
    font-size: 26px; /* Increase font size by 2 */
    font-weight: normal;
}